/*======================
     General Style
=======================*/

#app-intro {
    min-height: 500px;
    height: auto;
    padding: 170px 0 20px 0;
}

#app-intro-content {
    padding-top: 0px;
    width: 60%;
    align-items: center;
    color: #FFFFFF;
}

.app-information {
    width: 100%; 
}

.appointment-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 120px;
    margin-top: 2em;
}

.appointment-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appointment-date {
    width: 17.5%;
    height: 100%;
    background-color: #53AFB1;
    border-radius: 2em;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5em;
}

.appointment-information {
    width: 77.5%;
    height: 100%;
    padding: 0.25em;
    border: 2px solid #53AFB1;
    border-radius: 2em;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
}

.appointment-information-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.appointment-management {
    padding: 2em 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appointment-management-button {
    background-color: #53AFB1;
    color: #FFFFFF;
    border-radius: 50%;
    border: none;
    width: 2.25em;
    height: 2.25em;
    font-size: 1.2rem;
    margin-left: 0.5em;
}

#doctor-appointments .appointment-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

#doctor-appointments .appointment-section {
    margin-bottom: 3em;
}

/*======================
    Typography
=======================*/

#app-intro-content h1 {
    color: #FFFFFF;
    font-size: 6.5rem;
    font-weight: normal;
    line-height: 7.5rem;
    margin: 0.25em 0 0 0;
}

#app-intro-content h4 {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
    margin: 10px;
}

.appointment-date h3 {
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 300;
}

.appointment-date p {
    margin: 0 auto;
    font-size: 1.125rem;
}

.appointment-date h2 {
    margin: 0 auto;
    font-size: 3.25rem;
}

.appointment-information-card h3 {
    padding: 0.25em 0 0 0;
    margin: 0 0.5em;
}

.appointment-information-card p {
    margin: 0 0.75em;
    padding: 0;
}


/*======================
        Buttons
=======================*/

 .app-button {
    font-size: 4rem;
    text-align: left;
    color: #C0DF34;
    font-weight: 600;
}

.app-manage-button {
    background-color: #224750;
    color: #FFFFFF;
    border-radius: 50%;
    border: none;
    width: 2.25em;
    height: 2.25em;
    font-size: 1.2em;
    margin-left: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}


/*======================
      Media Query
=======================*/

/* Screens less than 639px */
@media (max-width: 639px) {
    #app-intro-content {
        padding-top: 1.5em;
        width: 100%;
        text-align: left;
    }

    #app-intro h1 {
        font-size: 3rem;
        line-height: 4rem;
    }

    #app-intro h4 {
        font-size: 1rem;
    }

    .no-app-section h4 {
        font-size: 1rem;
    }

    .app-button {
        font-size: 2.5rem;
    }

    .appointment-section {
        height: 120px;
        margin-top: 1.5em;
    }

    .appointment-date {
        display: none;
    }
     
    .appointment-information {
        width: 100%;
        padding: 0.1em;
        border: 1.5px solid #53AFB1;
        border-radius: 1.5em;
        margin: 0.25em 0;
    }
    
    .appointment-information-card h3 {
        padding: 0.1em 0 0 0;
        margin: 0 0.25em;
        font-size: 1.25rem;
    }
    
    .appointment-information-card p {
        margin: 0 0.5em;
        font-size: 0.825em;
    }
    
    .appointment-management {
        padding: 1.25em 0.25em;
    }
    
    .appointment-date h3 {
        font-size: 1rem;
    }
    
    .appointment-date p {
        font-size: 0.75rem;
    }
    
    .appointment-date h2 {
        font-size: 2.25rem;
    }

    .appointment-management-button {
        width: 2em;
        height: 2em;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

/* Screens from 640px to 843px */
@media (min-width: 640px) and (max-width: 843px) {
    #app-intro-content h1 {
        font-size: 4rem;
        line-height: 6rem;
    }

    .no-app-section h4 {
        font-size: 1.25rem;
    }

    .appointment-section {
        height: 100px;
        margin-top: 1.75em;
    }

    .appointment-date {
        width: 18.75%;
        border-radius: 1.75em;
        padding: 0.375em;
    }
    
    .appointment-information {
        width: 80%;
        padding: 0.125em;
        border: 1.75px solid #53AFB1;
        border-radius: 1.75em;
        margin: 0.375em 0;
    }
    
    .appointment-information-card h3 {
        padding: 0.125em 0 0 0;
        margin: 0 0.375em;
    }
    
    .appointment-information-card p {
        margin: 0 0.625em;
    }
    
    .appointment-management {
        padding: 1.5em 0.375em;
    }
    
    .appointment-date h3 {
        font-size: 1.125rem;
    }
    
    .appointment-date p {
        font-size: 1rem;
    }
    
    .appointment-date h2 {
        font-size: 3rem;
    }
    
    .appointment-management-button {
        width: 2em;
        height: 2em;
        font-size: 1rem;
        margin-left: 0.5em;
    }

    .app-button {
        font-size: 3rem;
    }
}