.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 300px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    border-radius: 30px;
    margin: auto;
    padding: 20px 20px 5px 5px;
    width: 60%;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #224750;
}

.close {
    color: #224750;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #224750;
    text-decoration: none;
    cursor: pointer;
}

/*======================
      Media Query
=======================*/

/* Screens less than 639px */
@media (max-width: 639px) {
    .modal-content {
        border-radius: 15px;
        font-size: 0.75rem;
    }

    .close {
        font-size: 16px;
    }
}

/* Screens from 640px to 843px */
@media (min-width: 640px) and (max-width: 843px) {
    .modal-content {
        border-radius: 20px;
        font-size: 0.825rem;
    }

    .close {
        font-size: 20px;
    }
}