/*======================
     General Style
=======================*/

.profile-intro {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: space-between;
}

.profile-card {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 10.625em;
    margin-bottom: -5.625em;
    padding: 0.125em;
    background-color: #53AFB1;
}

.profile-card .profile-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.125em solid #FFFFFF;
}

.patient-info {
    padding: 7.5em 0 1.25em 0;
}

.personal-info-item {
    border-bottom: 1px solid #224750;
    height: auto;
    margin-bottom: 20px;
}

.profile-full-name {
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.25em;
}

.all-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.25em;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25em 0;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
}

.profile-section:hover {
    transform: scale(1.05); 
}

.profile-section h2 {
    background-color:  #224750;
    color: #FFFFFF;
    font-size: 1.25rem;
    margin: 0;
    padding: 1em 1.25em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 150px;
    height: 360px;
    display: flex;
    align-items: right;
    justify-content: center;
}

.profile-section h2 span {
    display: flex;
    align-items: center;
}

.profile-info {
    padding: 0.625em;
    width: 270px;
    margin: 0 auto; 
    margin-bottom: -2em; 
}

.info-item {
    margin-bottom: 0.5em;
}

.info-item label {
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 2em;
    margin
}

.button-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding-top: 1.5em;
    padding-right: 0;
}

.info-item input {
    border: 2px solid #F2F2F2;
    margin-bottom: 1.5em;
    padding: 0.25em;
    border-radius: 0.5em;
    font-size: 1rem;
    box-sizing: content-box;
}

input::placeholder {
    font-style: italic;
}

#medicalHistoryInput::placeholder {
    font-style: italic;
}


.info-item input:focus {
    outline: none; 
    border-color: #224750;
    box-shadow: 0 0 0 2px rgba(0, 0 , 0, 0, 0.2); 
}

.profile-info input {
    padding-left: 0.25em;
}

.hidden {
    display: none;
}

#medicalHistoryInput {
    font-family: "Poppins", sans-serif;
    border: 2px solid #F2F2F2;
    margin-bottom: 0.25em;
    padding: 0.25em;
    border-radius: 0.5em;
    font-size: 1rem;
    resize: none;
    width: 100%;
    position: relative;
    height: 15em;
}

p {
    overflow-wrap: break-word;
}


#charCount {
    color: #224750;
    font-size: 0.75rem;
    text-align: right;
    /* padding-right: 3em; */
    font-weight: 500;
    font-style: italic;
}

#upload-icon {
    position: absolute;
    font-size: 1.5em;
    top: 0.5em;
    right: 0.5em;
    color: #53AFB1;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    display: none;
    background-color: #FFFFFF;
}

#profileImageInput {
    display: none; 
}


/*======================
    Buttons
=======================*/

.edit-profile-button {
    border-radius: 30px;
    background-color: #FFFFFF;
    border: 3px solid #224750;
    color: #224750;
    font-weight: 600;
    padding: 0.625em 1.25em;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

/* .edit-profile-button:hover {
    background-color: #224750;
    color: #FFFFFF;
    border: none;
} */

/*======================
    Typography
=======================*/

.profile-card h3 {
    color: #FFFFFF;
    font-weight: 300;
    margin: 10px;
}

 .patient-info p {
    font-size: 1rem;
    color: #224750;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
 }

/*======================
      Media Query
=======================*/

/* Screens less than 639px */
@media (max-width: 639px) {
    .profile-card {
        width: 150px;
        height: 150px;
        margin-bottom: -75px;
    }

    .all-information {
        padding-top: 40px;
    }

    .profile-section {
        flex-direction: column;
        width: 90%;
    }

    .profile-section h2 {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
        width: 100%;
        height: auto; 
        justify-content: center;
        font-size: 1rem;
    }
    
    .profile-info {
        width: 240px;
        margin: 0;
        text-align: left;
        justify-content: flex-start;
        margin-top: 2em; 
    }

    .patient-info p {
        font-size: 0.75rem;
    }

     .info-item {
        margin-bottom: 0.125em;
        margin-top: 0.125em;
    }

     .info-item {
        justify-content: flex-start;
    }

     .profile-full-name {
        font-size: 1.25rem;
        margin-bottom: 0.25em;
    }

     .edit-profile-button {
        border-radius: 30px;
        background-color: #FFFFFF;
        border: 3px solid #224750;
        color: #224750;
        font-weight: 500;
        padding: 7.5px 15px;
        cursor: pointer;
        font-size: 0.875rem;
        transition: background-color 0.3s ease;
    }
    
    #medicalHistoryInput {
        height: 12em;
    }

    #upload-icon {
        position: absolute;
        font-size: 1em;
        top: 0.5em;
        right: 0.5em;
        color: #53AFB1;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
        display: none;
        background-color: #FFFFFF;
    }
}
