html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.icon {
    font-size: 3rem;
    color:  #c0df34;
}

.small-icon {
    font-size: 1rem;
    color:  #ffffff;
}

body {
    margin: 0px;
    padding: 0px;
    /* min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat; */
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1200px; /* Ensures optimal readability */
    margin: 0 auto;
    display: flex;
}

.teal-container {
    background-color: #53AFB1;
}

.dark-green-container {
    background-color: #224750;
}

.footer-container {
    padding: 2em 0 2em 0;
}

.dual-container {
    background: linear-gradient(
        to left,
        #53AFB1 0%,
        #53AFB1 50%,
        #224750 50%,
        #224750 100%
    );
    position: relative;
    display: flex;
}

.signup-section, .signin-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #224750;
    padding: 3em 0;
}

.signup-section {
    left: 0;
    z-index: 1; 
}

.signin-section {
    right: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.overlay-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #53AFB1;
    padding: 3em 0;
    height: 691.97px;
}

#welcome-prompt, #welcome-back-prompt {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    height: 100%;
    width: 100%;
}

.form-field {
    margin-bottom: 20px;

}

.form-field input {
    width: 360px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

.form-field label {
    display: none;
}

#header {
    display: flex;
    flex: 1;
    padding: 20px 0;
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.header-nav-bar {
    color: #224750;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-nav-items {
    margin-left: 2em;
}

.header-nav-items a {
    text-decoration: none;
    color: #224750;
    padding: .25em 0;
}

.header-nav-items a:hover, 
.header-nav-items a:focus {
    color: #53AFB1;
    font-weight: bold;
}

.current-page {
    border-bottom: 2px solid #53AFB1;
    color: #53AFB1;
    font-weight: 500;
}
 
#intro {
    min-height: 600px;
    height: auto;
    padding: 20px 0;
}

#intro-content {
    padding-top: 0px;
    width: 60%;
    align-items: center;
    color: #ffffff;
}

#key-benefits {
    background-color: #ffffff;
    padding: 3em 0 3em 0;
}

#benefits-header {
    text-align: center;
    color: #224750;
}

#benefits-body {
    color: #224750;
    display: flex;
    justify-content: space-between;
}

.benefit {
    width: 30%;
    padding: 15px;
    text-align: center;
}

#access-buttons {
    display: flex;
    justify-content: flex-end;
}

button {
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.filled-button, .outlined-button {
    min-width: 120px;
    margin-left: 1em;
    padding: .5em 1.25em;
}

.filled-button, .filled-button-large, .filler-button {
    color: white;
    background-color: #c0df34;
    border: none;
}

.filled-button-large {
    min-width: 180px;
    font-size: 1.125rem;
    padding: .5em 1.25em;
    margin-top: 1.5em;
}

.outlined-button {
    color: #c0df34;
    background-color: #ffffff;
    border: 2px solid #c0df34;
}

#intro-content h1 {
    color: #ffffff;
    font-size: 6.5rem;
    font-weight: normal;
    line-height: 7.5rem;
    margin: 0.5em 0 0 0;
}

#benefits-header h2 {
    margin: 0 0 .75em 0;
}

.benefit h3 {
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

#intro-content h4 {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 300;
    margin: 10px;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
}

#signup-form h2, #signin-form h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 0px;
}

#signup-form button.filled-button, #signin-form button.filled-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    left: 45%;
    transform: translateX(-50%);
}

.overlay-panel h2, .overlay-panel p, .overlay-panel button {
    color: #ffffff;
}

.overlay-panel button {
    padding: 10px;
}

.overlay-panel h2{
    margin-bottom: 0px;
}

#our-doctors {
    background-color: #ffffff;
    padding: 3em 0 3em 0;
}

#doctors-header {
    width: 100%;
    text-align: center;
    color: #224750;
}

#doctors-body {
    color: #224750;
    display: flex;
    justify-content: space-between;
}

.doctors {
    width: 30%;
    padding: 15px;
    align-items: center;
    border: 20px;
    text-align: center;
}

.doctors h3 {
    margin-bottom: .5em;
}

#doctors-header h2 {
    margin-top: 0;
}

.doctors img {
    border-radius: 50%;
}

#our-doctors .filled-button {
    text-align: center;
    padding: 10px;
    background-color: #c0df34;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 20%;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
    display: block;
}

#doctor_patient {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.role-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: transparent; 
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
}

.role-button.filled {
    background-color: #53AFB1;
    color: white;
}

.role-button:hover {
    background-color: #53AFB1; 
    color: white;
}

.role-button:focus {
    outline: none;
}

.form-field label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: #ffffff; 
}


#footer {
    background-color: #224750;
    color: white;
}

#footer h4 {
    margin-bottom: .5em;
}

#footer .small-icon {
    margin-right: 1em;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

#footer .instagram,
#footer .facebook,
#footer .twitter,
#footer .e-mail,
#footer .phone-number {
    display: flex;
    align-items: center;
}

#footer p {
    margin: .5em 0;
    font-weight: 300;
}

#our-services h4 {
    padding-bottom: .375em;
}

#our-services p {
    padding-bottom: .5em;
}

#legal-information {
    background-color: #ffffff;
    padding: .5em;
    text-align: center;
}

#legal-information p {
    margin: .5em 0;
    font-size: .75rem;
    color: #777;
}

@media (max-width: 992px) {
    .header-nav-bar {
        flex-direction: column;
    }
    .header {
        text-align: center;
    }
}