/*======================
  Reset and Base Styles
=======================*/

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.icon {
    font-size: 3rem;
    color:  #C0DF34;
}

.small-icon {
    font-size: 1rem;
    color:  #FFFFFF;
}

.menu-button {
    display: none;
}

body {
    margin: 0px;
    padding: 0px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*======================
    Containers
=======================*/

.container {
    position: relative;
    width: 90%;
    max-width: 1200px; /* Ensures optimal readability */
    margin: 0 auto;
    display: flex;
}

.white-container {
    background-color: #FFFFFF;
    z-index: 2;
    position: fixed;
    height: 150px;
    width: 100%;
}


.teal-container {
    background-color: #53AFB1;
}

.dark-green-container {
    background-color: #224750;
}

.dual-container {
    background: linear-gradient(
        to left,
        #53AFB1 0%,
        #53AFB1 50%,
        #224750 50%,
        #224750 100%
    );
    position: relative;
    display: flex;
}

.mobile-container {
    display: none;
}

/*======================
    Header Styles
=======================*/

#header {
    opacity: 1;
    z-index: 3;
    width: 90%;
    position: fixed;
    max-width: 1200px;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: space-between;
}

.header-nav-bar {
    color: #224750;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    padding: 20px 0;
    justify-content: space-between;
    align-items: flex-end;
}

#header-nav-bar {
    display: flex;
    list-style: none;
}

.mobile-menu {
    position: fixed;
    display: none;
    top: 0; 
    right: 0;
    margin: 0;
    height: 100vh;
    width: 240px;
    z-index: 999;
    background-color: #224750;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 1em 2em;
    line-height: 3em;
    border-radius:  2.5em 0 0 2.5em;
}

.mobile-nav-items a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
}

.mobile-nav-items a:hover, 
.mobile-nav-items a:focus {
    color: #F0F0F0;
    font-weight: 500;
}

.mobile-menu li {
    width: 100%:
}

.mobile-menu a {
    width: 100%:
}

.header-nav-items {
    margin-left: 2em;
}

.header-nav-items a {
    text-decoration: none;
    color: #224750;
    padding: .25em 0;
}

.header-nav-items a:hover, 
.header-nav-items a:focus {
    color: #53AFB1;
    font-weight: 500;
}

.current-page {
    border-bottom: 2px solid #53AFB1;
    color: #53AFB1;
    font-weight: 500;
}

/*======================
    Introduction Section
=======================*/

#intro {
    min-height: 600px;
    height: auto;
    padding: 170px 0 20px 0;
}

#intro-content {
    padding-top: 0px;
    width: 60%;
    align-items: center;
    color: #FFFFFF;
}

/*======================
    Key Benefits Section
=======================*/

#key-benefits {
    background-color: #FFFFFF;
    padding: 3em 0 3em 0;
}

#benefits-header {
    text-align: center;
    color: #224750;
}

#benefits-body {
    display: flex;
    flex-wrap: wrap;
    color: #224750;
    display: flex;
    justify-content: space-between;
}

.benefit {
    width: calc(33.333% - 2.25em);
    padding: 15px;
    text-align: center;
    margin-bottom: 30px; 
}

/*======================
    Sign Up/ Sign In
=======================*/

.signup-section, .signin-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #224750;
    padding: 3em 0;
}


.signup-section {
    left: 0;
    z-index: 1; 
}

.signin-section {
    right: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.overlay-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #53AFB1;
    padding: 3em 0;
    height: 691.97px;
}

#welcome-prompt, #welcome-back-prompt {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    height: 100%;
    width: 100%;
}

.form-field {
    margin-bottom: 20px;
}

.form-field input {
    width: 360px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

.form-field label {
    display: none;
}

#access-buttons {
    display: flex;
    justify-content: flex-end;
}

.role-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: transparent; 
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 30px;
    cursor: pointer;
}

.role-button.filled {
    background-color: #53AFB1;
    color: white;
}

.role-button:hover {
    background-color: #53AFB1; 
    color: white;
}

.role-button:focus {
    outline: none;
}

.form-field label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: #FFFFFF; 
}

.outlined-button {
    color: #C0DF34;
    background-color: #FFFFFF;
    border: 2px solid #C0DF34;
}

#signup-form button.filled-button, #signin-form button.filled-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    left: 45%;
    transform: translateX(-50%);
}

.overlay-panel h2, .overlay-panel p, .overlay-panel button {
    color: #FFFFFF;
}

.overlay-panel button {
    padding: 0.625em;
}
/*======================
    Our Doctors Section
=======================*/

#our-doctors {
    background-color: #FFFFFF;
    padding: 3em 0 3em 0;
}

#doctors-header {
    width: 100%;
    text-align: center;
    color: #224750;
}

#doctors-body {
    color: #224750;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.doctors {
    width: calc(33.333% - 2.25em);
    padding: 15px;
    align-items: center;
    text-align: center;
    margin-bottom: 2.25em;
    box-sizing: border-box;
}

.doctors img {
    border-radius: 50%;
    max-width: 100%;
}

#our-doctors .filled-button {
    text-align: center;
    padding: 0.625em 1.25em;
    background-color: #C0DF34;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
    display: block;
}

#doctor_patient {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*======================
    Footer Styles
=======================*/

#footer {
    background-color: #224750;
    color: white;
}

#footer h4 {
    margin-bottom: .5em;
    font-weight: 500;
}

#footer .small-icon {
    margin-right: 1em;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em 0 2em 0;
}

#footer .instagram,
#footer .facebook,
#footer .twitter,
#footer .e-mail,
#footer .phone-number {
    display: flex;
    align-items: center;
}

#footer p {
    margin: .5em 0;
    font-weight: 300;
}

#our-services h4 {
    padding-bottom: .375em;
}

#our-services p {
    padding-bottom: .5em;
}

#legal-information {
    background-color: #FFFFFF;
    padding: .5em;
    text-align: center;
}

#legal-information p {
    margin: .5em 0;
    font-size: .75rem;
    color: #777;
}

/*======================
        Buttons
=======================*/

button {
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.filled-button, .outlined-button {
    min-width: 120px;
    margin-left: 1em;
    padding: .5em 1.25em;
}

.filled-button, .filled-button-large, .filler-button {
    color: white;
    background-color: #C0DF34;
    border: none;
}

.filled-button-large {
    min-width: 180px;
    font-size: 1.125rem;
    padding: .5em 1.25em;
    margin: 1.5em 0;
}

/*======================
    Typography
=======================*/

#intro-content h1 {
    color: #FFFFFF;
    font-size: 6.5rem;
    font-weight: normal;
    line-height: 7.5rem;
    margin: 0.25em 0 0 0;
}

#benefits-header h2 {
    margin: 0 0 .75em 0;
}

.benefit h3 {
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

#intro-content h4 {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 300;
    margin: 10px;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
}

#signup-form h2, #signin-form h2 {
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
}

.overlay-panel h2{
    margin-bottom: 0px;
}

.doctors h3 {
    margin-bottom: .5em;
}

#doctors-header h2 {
    margin-top: 0;
}

/*======================
    Media Queries
=======================*/

@media (max-width: 450px) {
    .mobile-menu {
        width: 100%;
    }
}

/* Screens less than 639px */
@media (max-width: 639px) {
    .header-nav-items{
        display: none;
    }
    .mobile-container {
        display: block;
    }

    .menu-button {
        display: block;
    }

    .astra-health-logo {
        width: 6em;
    }

    #intro-content {
        padding-top: 1.5em;
        width: 100%;
        text-align: left;
    }

    #intro h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    #intro h4 {
        font-size: 1rem;
    }

    .filled-button-large {
        margin-top: 1em;
    }

    .benefit, .doctors {
        width: 100%;
        margin-bottom: 1.25em;
    }

    .doctors {
        width: 100%;
    }

    #footer .footer-container {
        flex-direction: column;
        align-items: center;
    }

    #footer p {
        font-size: 0.85rem;
        text-align: center;
    }

    #footer .instagram,
    #footer .facebook,
    #footer .twitter,
    #footer .e-mail,
    #footer .phone-number {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #social-media, #contact-us, #our-services {
        text-align: center;
    }

    .footer-container h4 {
        padding-bottom: 0.75em;
    }

    .benefit, .doctors {
        width: 100%;
        margin-bottom: 20px; 
    }

    .mobile-signup-section, .mobile-signin-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #224750;
        padding: 3em 0;
    }

    .mobile-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center forms horizontally */
    }

    #mobile-signup-form h2, #mobile-signin-form h2 {
        text-align: center;
        color: #FFFFFF;
        margin-top: 0px;
    }
    
    .mobile-form-section {
        width: 100%; /* Take up full width */
        margin-bottom: 20px; /* Add some space between the forms */
    }
    
    .mobile-form-field {
        margin-bottom: 15px; /* Add space between form fields */
    }
    
    .mobile-signin-section {
        margin-top: 20px; /* Add space between the signup and signin sections */
    }
    
    
    .mobile-signup-section {
        left: 0;
        z-index: 1; 
    }
    
    .mobile-signin-section {
        right: 0;
    } 

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .overlay-panel {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #53AFB1;
        padding: 3em 0;
        height: 691.97px;
    }
    
    #welcome-prompt, #welcome-back-prompt {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20px;
        height: 100%;
        width: 100%;
    }
    
    .mobile-form-field {
        margin-bottom: 20px;
    }
    
    .mobile-form-field input {
        width: 300px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 30px;
        box-sizing: border-box;
    }
    
    .mobile-form-field label {
        display: none;
    }
    
    #access-buttons {
        display: flex;
        justify-content: flex-end;
    }
    
    .role-button {
        padding: 10px 20px;
        margin-right: 10px;
        background-color: transparent; 
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        border-radius: 30px;
        cursor: pointer;
    }
    
    .role-button.filled {
        background-color: #53AFB1;
        color: white;
    }
    
    .role-button:hover {
        background-color: #53AFB1; 
        color: white;
    }
    
    .role-button:focus {
        outline: none;
    }
    
    .mobile-form-field label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        color: #FFFFFF; 
    }
    
    .outlined-button {
        color: #C0DF34;
        background-color: #FFFFFF;
        border: 2px solid #C0DF34;
    }
    
    #mobile-signup-form button.filled-button, #mobile-signin-form button.filled-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        position: relative;
        left: 45%;
        transform: translateX(-50%);
    }
    
    .overlay-panel h2, .overlay-panel p, .overlay-panel button {
        color: #FFFFFF;
    }
    
    .overlay-panel button {
        padding: 0.625em;
    }
    .dual-container {
        display: none;
    }

}

/* Screens from 640px to 768px */
@media (min-width: 640px) and (max-width: 768px) {
    .dual-container {
        display: none;
    }

    /* .mobile-container {
        display: flex;
    } */

    .header-nav-items{
        display: none;
    }

    .menu-button {
        display: block;
    }

    .benefit, .doctors {
        width: calc(50% - 1.25em);
        margin-bottom: 1.25; 
    }

    #benefits-body, #doctors-body {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #benefits-body, #doctors-body {
        display: flex;
        justify-content: center; /* Center items horizontally */
        flex-wrap: wrap;
    }

    #intro-content h1 {
        font-size: 5rem;
        line-height: 6rem;
    }

    #benefits-header h2 {
        font-size: 2rem;
        margin-bottom: 0.5em;
    }

    .benefit h3 {
        font-size: 1.25rem;
        margin-bottom: 0.25em;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    #intro-content h4 {
        font-size: 1rem;
        margin: 5px 0;
    }

    h4 {
        font-size: 1rem;
    }

    .doctors h3 {
        font-size: 1.25rem;
        margin-bottom: 0.5em;
    }

    #doctors-header h2 {
        margin-top: 0;
    }
}

/* Screens from 769px to 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    .header-nav-bar {
        display: flex;
    }

    #benefits-body, #doctors-body {
        justify-content: center;
    }

    .benefit, .doctors {
        width: calc(50% - 2.25em);
    }
}